<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="robot">

    <link name="link_Hips">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="5.5"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_Hips">
        <origin xyz="7e-05 -0.00012 0.00035" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Hips.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_Hips">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_Hips.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <link name="link_RightUpLeg">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="7.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightUpLeg">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightUpLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_RightUpLeg">
        <origin xyz="-0.00037 0.00081 0.0003" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.08656"/>
        </geometry>
      </collision>
      <collision name="collision_RightUpLeg.1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_RightUpLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightUpLeg" type="spherical">
      <origin xyz="-0.08209 0.01519 -0.06714" rpy="0 0 0"/>
      <parent link="link_Hips"/>
      <child link="link_RightUpLeg"/>
      <limit effort="1000.0" lower="-.14" upper="1" velocity="10"/>
      <axis xyz = "1.000000 1.000000 1.000000" />
    </joint>

    <link name="link_RightLeg">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightLeg">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_RightLeg">
        <origin xyz="-0.00049 -9e-05 0.00106" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.06158"/>
        </geometry>
      </collision>
      <collision name="collision_RightLeg.1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_RightLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightLeg" type="spherical">
      <origin xyz="0.00065 -0.00196 -0.44457" rpy="0 0 0"/>
      <parent link="link_RightUpLeg"/>
      <child link="link_RightLeg"/>
	  <limit effort="10.0" lower="0" upper="2.5" velocity="10"/>
	  <axis xyz = "1.000000 0.000000 0.000000" />
    </joint>

    <link name="link_RightFoot">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.7"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightFoot">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightFoot.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_RightFoot">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_RightFoot.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightFoot" type="spherical">
      <origin xyz="-0.00065 0.03005 -0.44359" rpy="0 0 0"/>
      <parent link="link_RightLeg"/>
      <child link="link_RightFoot"/>
      <limit effort="10.0" lower="-0.6" upper="0.4" velocity="10"/>
      <axis xyz="1 0 0"/>
    </joint>

    <link name="link_RightToeBase">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.2"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightToeBase">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightToeBase.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_RightToeBase">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_RightToeBase.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightToeBase" type="spherical">
      <origin xyz="0 -0.11037 -0.06152" rpy="0 0 0"/>
      <parent link="link_RightFoot"/>
      <child link="link_RightToeBase"/>
      <limit effort="10.0" lower="-0.6" upper="0.6" velocity="10"/>
      <axis xyz = "1.000000 0.000000 0.000000" />
    </joint>

    <link name="link_LeftUpLeg">
      <inertial>
        <origin xyz="0 -0.00269 -0.44503" rpy="0 0 0"/>
        <mass value="7.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftUpLeg">
        <origin xyz="0 -0.00269 -0.44503" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftUpLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_LeftUpLeg">
        <origin xyz="-0.03987 0.00081 0.00143" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.1245"/>
        </geometry>
      </collision>
      <collision name="collision_LeftUpLeg.1">
        <origin xyz="0 -0.00269 -0.44503" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_LeftUpLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftUpLeg" type="spherical">
      <origin xyz="0.08245 0.01519 -0.06714" rpy="0 0 0"/>
      <parent link="link_Hips"/>
      <child link="link_LeftUpLeg"/>
      <limit effort="1000.0" lower="-.14" upper="1" velocity="10"/>
      <axis xyz = "1.000000 1.000000 1.000000" />
    </joint>

    <link name="link_LeftLeg">
      <inertial>
        <origin xyz="-0.00231 0.00777 -0.1772" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftLeg">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_LeftLeg">
        <origin xyz="-0.00023 0.00066 0.00176" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.06134"/>
        </geometry>
      </collision>
      <collision name="collision_LeftLeg.1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_LeftLeg.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftLeg" type="spherical">
      <origin xyz="0 -0.00269 -0.44503" rpy="0 0 0"/>
      <parent link="link_LeftUpLeg"/>
      <child link="link_LeftLeg"/>
      <limit effort="10.0" lower="0" upper="2.5" velocity="10"/>
	  <axis xyz = "1.000000 0.000000 0.000000" />
    </joint>

    <link name="link_LeftFoot">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.7"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftFoot">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftFoot.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_LeftFoot">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_LeftFoot.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftFoot" type="spherical">
      <origin xyz="0 0.0304 -0.4433" rpy="0 0 0"/>
      <parent link="link_LeftLeg"/>
      <child link="link_LeftFoot"/>
      <limit effort="10.0" lower="-0.6" upper="0.4" velocity="10"/>
      <axis xyz="1 0 0"/>
    </joint>

    <link name="link_LeftToeBase">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.2"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftToeBase">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftToeBase.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_LeftToeBase">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_LeftToeBase.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftToeBase" type="spherical">
      <origin xyz="0.00065 -0.10737 -0.06079" rpy="0 0 0"/>
      <parent link="link_LeftFoot"/>
      <child link="link_LeftToeBase"/>
      <limit effort="10.0" lower="-0.6" upper="0.6" velocity="10"/>
      <axis xyz = "1.000000 0.000000 0.000000" />
    </joint>

    <link name="link_Spine">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="5.5"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_Spine">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Spine.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Beta_Joints_MAT"/>
      </visual>
      <collision name="collision_Spine">
        <origin xyz="-0.00022 0.0197 -0.10448" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.12974"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_Spine" type="spherical">
      <origin xyz="0.00037 -0.00172 0.10244" rpy="0 0 0"/>
      <parent link="link_Hips"/>
      <child link="link_Spine"/>
      <axis xyz = "1.000000 1.000000 1.000000" />
    </joint>

    <link name="link_Spine1">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="8.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_Spine1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Spine1.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Beta_Joints_MAT"/>
      </visual>
      <collision name="collision_Spine1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.10869"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_Spine1" type="spherical">
      <origin xyz="-0.00026 0.01027 0.10076" rpy="0 0 0"/>
      <parent link="link_Spine"/>
      <child link="link_Spine1"/>
      <limit effort="10.0" velocity="10.0"/>
      <axis xyz = "1.000000 1.000000 1.000000" />
    </joint>

    <link name="link_Spine2">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="8.0"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_Spine2">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Spine2.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_Spine2">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_Spine2.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_Spine2" type="spherical">
      <origin xyz="0 0.01405 0.09109" rpy="0 0 0"/>
      <parent link="link_Spine1"/>
      <child link="link_Spine2"/>
      <limit effort="10.0" velocity="10.0"/>
      <axis xyz = "1.000000 1.000000 1.000000" />
    </joint>

    <link name="link_Neck">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.8"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_Neck">
        <origin xyz="-0.00019 -0.01339 0.04229" rpy="0 0 0"/>
        <geometry>
          <mesh filename="Neck.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Beta_Joints_MAT"/>
      </visual>
      <collision name="collision_Neck">
        <origin xyz="-0.00019 -0.01339 0.04229" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.05128"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_Neck" type="spherical">
      <origin xyz="0.00024 0.02511 0.16549" rpy="0 0 0"/>
      <parent link="link_Spine2"/>
      <child link="link_Neck"/>
      <limit effort="200.0" velocity="40.0"/>
      <axis xyz = "1.000000 1.000000 0.000000" />
    </joint>

    <link name="link_Head">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="3.5"/>
        <inertia ixx="100000.00475" ixy="0" ixz="0" iyy="100000.00475" iyz="0" izz="100000.00475"/>
      </inertial>
      <visual name="visual_Head">
        <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
        <geometry>
          <mesh filename="Head.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_Head">
        <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
        <geometry>
          <mesh filename="c_Head.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_Head" type="spherical">
      <origin xyz="7e-05 -0.01698 0.0968" rpy="1.5708 0 0"/>
      <parent link="link_Neck"/>
      <child link="link_Head"/>
      <axis xyz="0 1.0 0"/>
      <limit lower="-1.6" upper="1.6" effort="10.0" velocity="10.0"/>
    </joint>

    <link name="link_RightShoulder">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightShoulder">
        <origin xyz="-0.10623 0.02179 -0.00584" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightShoulder.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Beta_Joints_MAT"/>
      </visual>
      <collision name="collision_RightShoulder">
        <origin xyz="-0.10623 0.02179 -0.00584" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.04861"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightShoulder" type="spherical">
      <origin xyz="-0.04536 0.02663 0.10998" rpy="0 0 0"/>
      <parent link="link_Spine2"/>
      <child link="link_RightShoulder"/>
      <limit effort="1000.0" lower="0" upper="0.2" velocity="10"/>
	  <axis xyz = "0.000000 1.000000 0.000000" />
    </joint>

    <link name="link_RightArm">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.3"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightArm">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_RightArm">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_RightArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightArm" type="spherical">
      <origin xyz="-0.10656 0.02189 -0.00656" rpy="0 0 0"/>
      <parent link="link_RightShoulder"/>
      <child link="link_RightArm"/>
      <axis xyz = "0.000000 1.000000 0.000000" />
      <limit effort="1000.0" lower="-2" upper="2" velocity="10"/>
    </joint>

    <link name="link_RightForeArm">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.8"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_RightForeArm">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="RightForeArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_RightForeArm">
        <origin xyz="-0.00355 -0.0036 0.00044" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.03853"/>
        </geometry>
      </collision>
      <collision name="collision_RightForeArm.1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_RightForeArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_RightForeArm" type="spherical">
      <origin xyz="-0.2773 0 0.00236" rpy="0 0 0"/>
      <parent link="link_RightArm"/>
      <child link="link_RightForeArm"/>
      <limit effort="1.0" lower="0" upper="2" velocity="10"/>
      <axis xyz="0 0 1"/>
    </joint>

    <link name="link_RightHand">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.6"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
	  <collision>
				<origin rpy = "0 0 0" xyz = "0.000000 0.000000 0.000000" />
			<geometry>
				<sphere radius = "0.040000" />
			</geometry>
	  </collision>
    </link>

    <joint name="link_RightHand" type="fixed">
      <origin xyz="-0.2841 0 -0.00198" rpy="0 0 0"/>
      <parent link="link_RightForeArm"/>
      <child link="link_RightHand"/>
      <limit effort="1.0" lower="0" upper="2" velocity="10"/>
      <axis xyz="1 0 0"/>
    </joint>

    <link name="link_LeftShoulder">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftShoulder">
        <origin xyz="0.10542 0.02294 -0.0055" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftShoulder.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Beta_Joints_MAT"/>
      </visual>
      <collision name="collision_LeftShoulder">
        <origin xyz="0.10542 0.02293 -0.0055" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.04861"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftShoulder" type="spherical">
      <origin xyz="0.04625 0.02549 0.10964" rpy="0 0 0"/>
      <parent link="link_Spine2"/>
      <child link="link_LeftShoulder"/>
      <limit effort="1000.0" lower="0" upper="0.2" velocity="10"/>
	  <axis xyz = "0.000000 1.000000 0.000000" />
    </joint>

    <link name="link_LeftArm">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="1.3"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftArm">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_LeftArm">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_LeftArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftArm" type="spherical">
      <origin xyz="0.1055 0.02299 -0.00565" rpy="0 0 0"/>
      <parent link="link_LeftShoulder"/>
      <child link="link_LeftArm"/>
      <axis xyz = "0.000000 1.000000 0.000000" />
      <limit effort="1000.0" lower="-2" upper="2" velocity="10"/>
    </joint>

    <link name="link_LeftForeArm">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.8"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
      <visual name="visual_LeftForeArm">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="LeftForeArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="asdf1:Beta_HighLimbsGeoSG2"/>
      </visual>
      <collision name="collision_LeftForeArm">
        <origin xyz="6e-05 0.00241 -0.00096" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.04142"/>
        </geometry>
      </collision>
      <collision name="collision_LeftForeArm.1">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="c_LeftForeArm.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <joint name="link_LeftForeArm" type="spherical">
      <origin xyz="0.27874 1e-05 0" rpy="0 0 0"/>
      <parent link="link_LeftArm"/>
      <child link="link_LeftForeArm"/>
      <limit effort="1.0" lower="0" upper="2" velocity="10"/>
	  <axis xyz="0 0 1"/>
    </joint>

    <link name="link_LeftHand">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.6"/>
        <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
      </inertial>
	  <collision>
				<origin rpy = "0 0 0" xyz = "0.000000 0.000000 0.000000" />
			<geometry>
				<sphere radius = "0.040000" />
			</geometry>
	  </collision>
    </link>

    <joint name="link_LeftHand" type="fixed">
      <origin xyz="0.28308 -0.0001 0" rpy="0 0 0"/>
      <parent link="link_LeftForeArm"/>
      <child link="link_LeftHand"/>
      <axis xyz="1 1 0"/>
    </joint>

    <material name="Beta_Joints_MAT">
      <color rgba="0.26667 0.09962 0.08081 1.0"/>
    </material>

    <material name="asdf1:Beta_HighLimbsGeoSG2">
      <color rgba="0.6696 0.24185 0.21092 1.0"/>
    </material>

  </robot>
